@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101114;
  --backgroundLite: #292524;
  --foreground: #ededed;
  --primary: #99d5f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #101114;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
